<div class="blog-preview-item">
	{{> @image class="blog-preview-item__image" src=image }}
	{{> @paragraph class="blog-preview-item__category" text=category }}
	{{> @heading type="h2" text=title color="black" highlight='"reiheacht", "."' }}
	{{> @paragraph text=description color="black" }}
</div>