<div class="blog-preview">
	{{> @image class="blog-preview__image" src=image }}
	{{> @paragraph class="blog-preview__category" text=category }}
	{{> @heading type="h2" text=title color="black" highlight='"reiheacht", "."' }}
	{{> @paragraph text=description color="black" }}
</div>