<div class="team-overview__anchor-target anchor-target" id="team"></div>
<section class="team-overview section section--linked">
  <div class="team-overview__inner section__inner">
    {{> @teaser heading="Erwecke deine Idee zum Leben." subheading="Das tun wir den ganzen Tag – und wir lieben es." }}
    {{> @team-tile-set }}
  </div>
</section>