<div class="service-detail section">
  <div class="service-detail__inner section__inner">
    <span class="service-detail__heading heading--h2"></span>
    {{> @heading type="h1" text="Videokonzeption" }}
    {{> @image class="service-detail__image" src="/media/images/project-tiles/itpoint-imagefilm.png" alt="Image"
    }}
    {{> @quote class="service-detail__quote" text="Nur wer sein Ziel kennt, findet den Weg."}}
    <div class="service-detail__content">

      <div class="service-detail__image">
        <div class="image__wrapper">
          <img class="image__item" src="/media/images/project-tiles/itpoint-imagefilm.png" alt="" />
        </div>
        <div class="image__wrapper">
          <img class="image__item" src="/media/images/project-tiles/itpoint-imagefilm.png" alt="" />
        </div>
      </div>


      {{> @heading type="h2" text="Videokonzeption" }}
      {{> @paragraph text="Wir machen Pl채ne in vielen Phasen und Bereichen unseres Lebens. Budget und Zeit teilen wir
      ein, damit wir unseren Zielen n채herkommen. Das gleiche Prinzip gilt auch f체r die Planung und Konzeption einer
      Videoproduktion, damit wir die gew체nschte Wirkung erzielen." }}
    </div>
  </div>
</div>