.service-detail {
  padding-top: 150px;
	margin-bottom: 80px;

	&__image {
		width: 100%;
		display: block;
	}

  h1 {
		margin-bottom: 16px; 
	}

	h3 {
		text-decoration: underline;
		text-decoration-color: $blue;
		text-underline-position: from-font;
	}

}