@font-face {
  font-family: "Helvetica Neue";
  src:
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-thin.ttf") format("ttf"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-thin.woff") format("woff"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-thin.woff2") format("woff2");
  font-display: block;
	font-weight: 100;
	font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src:
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-thin-italic.ttf") format("ttf"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-thin-italic.woff") format("woff"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-thin-italic.woff2") format("woff2");
  font-display: block;
	font-weight: 100;
	font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src:
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-extralight.ttf") format("ttf"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-extralight.woff") format("woff"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-extralight.woff2") format("woff2");
  font-display: block;
	font-weight: 200;
	font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src:
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-extralight-italic.ttf") format("ttf"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-extralight-italic.woff") format("woff"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-extralight-italic.woff2") format("woff2");
  font-display: block;
	font-weight: 200;
	font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src:
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-light.ttf") format("ttf"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-light.woff") format("woff"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-light.woff2") format("woff2");
  font-display: block;
	font-weight: 300;
	font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src:
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-light.ttf") format("ttf"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-light.woff") format("woff"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-light.woff2") format("woff2");
  font-display: block;
	font-weight: 300;
	font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src:
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-medium.ttf") format("ttf"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-medium.woff") format("woff"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-medium.woff2") format("woff2");
  font-display: block;
	font-weight: 500;
	font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src:
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-medium-italic.ttf") format("ttf"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-medium-italic.woff") format("woff"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-medium-italic.woff2") format("woff2");
  font-display: block;
	font-weight: 500;
	font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src:
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-semibold.ttf") format("ttf"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-semibold.woff") format("woff"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-semibold.woff2") format("woff2");
  font-display: block;
	font-weight: 600;
	font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src:
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-semibold-italic.ttf") format("ttf"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-semibold-italic.woff") format("woff"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-semibold-italic.woff2") format("woff2");
  font-display: block;
	font-weight: 600;
	font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src:
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-bold.ttf") format("ttf"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-bold.woff") format("woff"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-bold.woff2") format("woff2");
  font-display: block;
	font-weight: 700;
	font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src:
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-bold-italic.ttf") format("ttf"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-bold-italic.woff") format("woff"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-bold-italic.woff2") format("woff2");
  font-display: block;
	font-weight: 700;
	font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src:
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-black.ttf") format("ttf"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-black.woff") format("woff"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-black.woff2") format("woff2");
  font-display: block;
	font-weight: 900;
	font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src:
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-black-italic.ttf") format("ttf"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-black-italic.woff") format("woff"),
    local('fonts/helvetica-neue'), url("/fonts/helvetica-neue/helvetica-neue-black-italic.woff2") format("woff2");
  font-display: block;
	font-weight: 900;
	font-style: italic;
}