* {
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

body {
	background-color: $black
}

.section {

}

.section__inner {
	max-width: $max-width;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;
}