* {
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
	appearance: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
	background-color: $black;
}

.section {

}

.section__inner {
	max-width: $max-width;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;
}

@media (max-width: 500px) {

	.section__inner {
		padding-left: 24px;
		padding-right: 24px;
	}

}