* {
  font-family: 'Helvetica Neue' serif;
	line-height: 1;
	color: $white;
}

.heading, h1, h2, h3, h4, h5,
.paragraph, p, 
.link, a {
	line-height: 1.25;
	font-weight: 400;
	color: $white;
}

.heading--h1 {
  font-size: 75px; 
  margin-right: 0px;
  font-family: 'Helvetica Neue';
	font-weight: 800;
	font-weight: 800;
}

.heading--h2 {
	font-size: 50px;
	font-weight: 800;
}

.heading--h3 {
	font-size: 30px;
	font-weight: 500;
}

.heading--h4 {
	font-size: 20px;
	font-weight: 500;
}

.heading--h5 {
	font-size: 20px;
}

.paragraph, p {
	font-size: 25px;
	font-weight: 300;
}

.link, a {
	font-size: 25px;
	font-weight: 300;	
	text-decoration: none;
}


.scroller__text {
	font-weight: 300;
}

.navigation-mobile__link {
	font-size: 30px;
	font-weight: 700;
	line-height: 1;
}

.reference-slider__quote {
	font-size: 30px;
	line-height: 1.6;
	font-weight: 300;
}

.reference-slider__author .author__name {
	font-size: 22px;
}

.reference-slider__author .author__role {
	font-size: 18px;
}

.input, input,
.textarea, textarea {
	font-size: 18px;
	line-height: 1.5;
}

@media (max-width: 900px) {
	.heading--h1 { font-size: 60px; }
}
@media (max-width: 750px) {
	.heading--h1 { font-size: 50px; }
}
@media (max-width: 600px) {
	.heading--h1 { font-size: 40px; }
	.heading--h2 { font-size: 40px; }
}
@media (max-width: 450px) {
	.heading--h1 { font-size: 30px; }
	.heading--h2 { font-size: 30px; }
}
@media (max-width: 350px) {
	.heading--h1 { font-size: 22px; }
	.heading--h2 { font-size: 22px; }
	.heading--h3 { font-size: 18px; }
	.heading--h4 { font-size: 18px; }
}

@media (max-width: 650px) {
	.reference-slider__quote { font-size: 22px; }
}
