<section class="projects-overview section">
  <div class="projects-overview__inner section__inner">
    {{> @teaser
    heading="Perfekte Aussicht, aus der besten reihe."
    subheading="Das tun wir den ganzen Tag – und wir lieben es." }}
    {{> @project-tile-set }}
  </div>
</section>