<div class="contact__anchor-target anchor-target" id="kontakt"></div>
<section class="contact section section--linked">
  <div class="contact__inner section__inner">
    {{> @teaser
    heading="Sag Hallo"
    subheading="Wir morsen zwar sehr gut, es gibt jedoch einfachere Wege, uns zu kontaktieren." }}
    {{> @contact-form }}
  </div>
</section>