<section class="blog-detail section">
	<div class="blog-detail section__inner">

		{% include "atoms/image" with { src: entry.blogDetailImage.one().url(), class:"blog-detail__image" } %}
		{{ entry.blogDetailTitle }}

		{% for block in entry.blogDetailContent %}
			{% include "blocks/" ~ block.type ignore missing %}
		{% endfor %}

	</div>
</section>
