<div class="navigation-desktop section">
    <div class="navigation-desktop__inner section__inner">
        <a class="navigation-desktop__link" href="#" data-section="home">Home</a>
        <a class="navigation-desktop__link" href="#" data-section="leistungen">Leistungen</a>
        <a class="navigation-desktop__link" href="#" data-section="projekte">Projekte</a>
        <a class="navigation-desktop__link" href="#" data-section="team">Team</a>
        <a class="navigation-desktop__link" href="#" data-section="kontakt">Kontakt</a>
        <a class="navigation-desktop__link" href="#" data-section="blog">Blog</a>
        <a href="#" class="navigation-desktop__logo"></a>
    </div>
</div>
<div class="navigation-desktop__placeholder"></div>