<div class="navigation-desktop section">
	<div class="navigation-desktop__inner section__inner">
		<a class="navigation-desktop__link" href="/#home" data-section="home">Home</a>
		<a class="navigation-desktop__link" href="/#leistungen" data-section="leistungen">Leistungen</a>
		<a class="navigation-desktop__link" href="/#projekte" data-section="projekte">Projekte</a>
		<a class="navigation-desktop__link" href="/#team" data-section="team">Team</a>
		<a class="navigation-desktop__link" href="/#kontakt" data-section="kontakt">Kontakt</a>
		<a class="navigation-desktop__link" href="/blog-overview" data-section="blog">Blog</a>
		<a href="/#home" class="navigation-desktop__logo"></a>
		{% if showCloseTriangle %}
			<a class="navigation-desktop__close-triangle close-triangle close-triangle__bottom" data-color="{{ closeTriangleColor }}" href="{{ closeTriangleTarget }}"></a>
			<a class="navigation-desktop__close-triangle close-triangle close-triangle__top" data-color="{{ closeTriangleColor }}" href="{{ closeTriangleTarget }}"></a>
		{% endif %}
	</div>
</div>
<div class="navigation-desktop__placeholder"></div>
