{% set projects = craft.entries.section('projects') %}
{% set projectTeaser = craft.entries.section('projects').slug('projekte').one() %}
{% set projectItems = craft.entries.section('projects').level(3).orderBy('projectTileOrder').all() %}

<div class="projects__anchor-target anchor-target" id="projekte"></div>
<section class="projects section">
	<div class="projects__inner section__inner">

		{% include "molecules/teaser" with { class: "project__line project__line--vertical", heading: projectTeaser.heading, subheading: projectTeaser.richText } %}

		<div class="project-tile-set">
			{% for item in projectItems %}
				{% include "molecules/project-tile" with { class: "project-tile-set__item", heading: item.projectTileHeading, subheading: item.projectTileSubheading, href: item.uri, color: item.projectTileColor, image: item.projectTileImage.one().url() } %}
			{% endfor %}
		</div>

	</div>
</section>
