{% set services = craft.entries.section('services') %}
{% set servicesTeaser = craft.entries.section('services').slug('leistungen').one() %}
{% set servicesItems = craft.entries.section('services').level(2).all() %}

<div class="services__anchor-target anchor-target" id="leistungen"></div>
<section class="services section section--linked">
	<div class="services__inner section__inner">

		{% include "molecules/teaser" with { class: "service-infos__line service-infos__line--vertical", heading: servicesTeaser.heading, subheading: servicesTeaser.richText } %}

		<div class="service-tile-set">
			{% for item in servicesItems %}
				{% include "molecules/service-tile" with { class: "service-tile-set__item", heading: item.serviceTileHeading, href: item.uri, image: item.serviceTileImage.one().url() } %}
			{% endfor %}
		</div>

	</div>
</section>
