<div class="infobox">
  <img class="infobox__logo" src="{{ logo }}" alt="Logo">
  {{> @line class="infobox__line infobox__line--vertical" direction="vertical" }}
  {{> @line class="infobox__line infobox__line--horizontal" direction="horizontal" }}
  <span>
    <p class="infobox__title">{{ title }}</p>
    <p class="infobox__subtitle">{{ subtitle }}</p>
  </span>
</div>