<div class="project-infos">
	<img class="project-infos__logo" src="{{ logo }}" alt="Logo">
	{{> @line class="project-infos__line project-infos__line--vertical" direction="vertical" }}
	{{> @line class="project-infos__line project-infos__line--horizontal" direction="horizontal" }}
	<span>
		<p class="project-infos__title">{{ title }}</p>
		<p class="project-infos__subtitle">{{ subtitle }}</p>
	</span>
</div>