.svg-form-elements--checkbox-check {
	background: url("sprite.svg") 98.30508474576271% 10.714285714285714% no-repeat;
}

.svg-form-elements--checkbox-check-dims {
	width: 24px;
	height: 24px;
}

.svg-form-elements--dropdown-carret {
	background: url("sprite.svg") 99.16083916083916% 6.31424375917768% no-repeat;
}

.svg-form-elements--dropdown-carret-dims {
	width: 10px;
	height: 6px;
}

.svg-form-elements--radio-bullet {
	background: url("sprite.svg") 99.92957746478874% 3.5608308605341246% no-repeat;
}

.svg-form-elements--radio-bullet-dims {
	width: 20px;
	height: 20px;
}

.svg-form-elements--upload-arrow {
	background: url("sprite.svg") 99.09154437456324% 5.317577548005908% no-repeat;
}

.svg-form-elements--upload-arrow-dims {
	width: 9px;
	height: 14px;
}

.svg-general--arrow-left-slider {
	background: url("sprite.svg") 99.29971988795518% 7.079646017699115% no-repeat;
}

.svg-general--arrow-left-slider-dims {
	width: 12px;
	height: 12px;
}

.svg-general--arrow-link {
	background: url("sprite.svg") 99.65083798882682% 5.317577548005908% no-repeat;
}

.svg-general--arrow-link-dims {
	width: 8px;
	height: 14px;
}

.svg-general--arrow-right-slider {
	background: url("sprite.svg") 99.29971988795518% 7.964601769911504% no-repeat;
}

.svg-general--arrow-right-slider-dims {
	width: 12px;
	height: 12px;
}

.svg-general--arrow-simple {
	background: url("sprite.svg") 100% 10.714285714285714% no-repeat;
}

.svg-general--arrow-simple-dims {
	width: 24px;
	height: 24px;
}

.svg-general--carret {
	background: url("sprite.svg") 98.30508474576271% 12.5% no-repeat;
}

.svg-general--carret-dims {
	width: 24px;
	height: 24px;
}

.svg-general--check {
	background: url("sprite.svg") 100% 12.5% no-repeat;
}

.svg-general--check-dims {
	width: 24px;
	height: 24px;
}

.svg-general--close {
	background: url("sprite.svg") 98.30508474576271% 14.285714285714286% no-repeat;
}

.svg-general--close-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--facebook {
	background: url("sprite.svg") 98.51380042462846% 3.5714285714285716% no-repeat;
}

.svg-social-media--facebook-dims {
	width: 27px;
	height: 24px;
}

.svg-social-media--github {
	background: url("sprite.svg") 98.44413012729845% 5.357142857142857% no-repeat;
}

.svg-social-media--github-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--instagram {
	background: url("sprite.svg") 98.37455830388693% 8.928571428571429% no-repeat;
}

.svg-social-media--instagram-dims {
	width: 25px;
	height: 24px;
}

.svg-social-media--linkedin {
	background: url("sprite.svg") 100% 14.285714285714286% no-repeat;
}

.svg-social-media--linkedin-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--twitter {
	background: url("sprite.svg") 98.44413012729845% 7.142857142857143% no-repeat;
}

.svg-social-media--twitter-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--youtube {
	background: url("sprite.svg") 100% 0 no-repeat;
}

.svg-social-media--youtube-dims {
	width: 48px;
	height: 48px;
}

.svg-sprite--sprite {
	background: url("sprite.svg") 0 0 no-repeat;
}

.svg-sprite--sprite-dims {
	width: 1392px;
	height: 1368px;
}

