.svg-form-elements--checkbox-check {
	background: url("sprite.svg") 11.11111111111111% 98.21428571428571% no-repeat;
}

.svg-form-elements--checkbox-check-dims {
	width: 24px;
	height: 24px;
}

.svg-form-elements--dropdown-carret {
	background: url("sprite.svg") 25.832127351664255% 96.91629955947137% no-repeat;
}

.svg-form-elements--dropdown-carret-dims {
	width: 10px;
	height: 6px;
}

.svg-form-elements--radio-bullet {
	background: url("sprite.svg") 21.574344023323615% 97.92284866468843% no-repeat;
}

.svg-form-elements--radio-bullet-dims {
	width: 20px;
	height: 20px;
}

.svg-form-elements--upload-arrow {
	background: url("sprite.svg") 22.84887924801157% 97.48892171344166% no-repeat;
}

.svg-form-elements--upload-arrow-dims {
	width: 9px;
	height: 14px;
}

.svg-general--arrow-left-slider {
	background: url("sprite.svg") 24.130434782608695% 97.34513274336283% no-repeat;
}

.svg-general--arrow-left-slider-dims {
	width: 12px;
	height: 12px;
}

.svg-general--arrow-link {
	background: url("sprite.svg") 23.482658959537574% 97.48892171344166% no-repeat;
}

.svg-general--arrow-link-dims {
	width: 8px;
	height: 14px;
}

.svg-general--arrow-right-slider {
	background: url("sprite.svg") 25% 97.34513274336283% no-repeat;
}

.svg-general--arrow-right-slider-dims {
	width: 12px;
	height: 12px;
}

.svg-general--arrow-simple {
	background: url("sprite.svg") 12.865497076023392% 98.21428571428571% no-repeat;
}

.svg-general--arrow-simple-dims {
	width: 24px;
	height: 24px;
}

.svg-general--carret {
	background: url("sprite.svg") 14.619883040935672% 98.21428571428571% no-repeat;
}

.svg-general--carret-dims {
	width: 24px;
	height: 24px;
}

.svg-general--check {
	background: url("sprite.svg") 16.374269005847953% 98.21428571428571% no-repeat;
}

.svg-general--check-dims {
	width: 24px;
	height: 24px;
}

.svg-general--close {
	background: url("sprite.svg") 18.128654970760234% 98.21428571428571% no-repeat;
}

.svg-general--close-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--facebook {
	background: url("sprite.svg") 3.5164835164835164% 98.21428571428571% no-repeat;
}

.svg-social-media--facebook-dims {
	width: 27px;
	height: 24px;
}

.svg-social-media--github {
	background: url("sprite.svg") 5.490483162518301% 98.21428571428571% no-repeat;
}

.svg-social-media--github-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--instagram {
	background: url("sprite.svg") 9.290416971470373% 98.21428571428571% no-repeat;
}

.svg-social-media--instagram-dims {
	width: 25px;
	height: 24px;
}

.svg-social-media--linkedin {
	background: url("sprite.svg") 19.883040935672515% 98.21428571428571% no-repeat;
}

.svg-social-media--linkedin-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--twitter {
	background: url("sprite.svg") 7.393850658857979% 98.21428571428571% no-repeat;
}

.svg-social-media--twitter-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--youtube {
	background: url("sprite.svg") 0 100% no-repeat;
}

.svg-social-media--youtube-dims {
	width: 48px;
	height: 48px;
}

.svg-sprite--sprite {
	background: url("sprite.svg") 0 0 no-repeat;
}

.svg-sprite--sprite-dims {
	width: 1392px;
	height: 1320px;
}

