%svg-common {
	background: url("sprite.svg") no-repeat;
}

.svg-form-elements--checkbox-check {
	@extend %svg-common;
	background-position: 11.11111111111111% 98.21428571428571%;
}

.svg-form-elements--checkbox-check-dims {
	width: 24px;
	height: 24px;
}

.svg-form-elements--dropdown-carret {
	@extend %svg-common;
	background-position: 25.832127351664255% 96.91629955947137%;
}

.svg-form-elements--dropdown-carret-dims {
	width: 10px;
	height: 6px;
}

.svg-form-elements--radio-bullet {
	@extend %svg-common;
	background-position: 21.574344023323615% 97.92284866468843%;
}

.svg-form-elements--radio-bullet-dims {
	width: 20px;
	height: 20px;
}

.svg-form-elements--upload-arrow {
	@extend %svg-common;
	background-position: 22.84887924801157% 97.48892171344166%;
}

.svg-form-elements--upload-arrow-dims {
	width: 9px;
	height: 14px;
}

.svg-general--arrow-left-slider {
	@extend %svg-common;
	background-position: 24.130434782608695% 97.34513274336283%;
}

.svg-general--arrow-left-slider-dims {
	width: 12px;
	height: 12px;
}

.svg-general--arrow-link {
	@extend %svg-common;
	background-position: 23.482658959537574% 97.48892171344166%;
}

.svg-general--arrow-link-dims {
	width: 8px;
	height: 14px;
}

.svg-general--arrow-right-slider {
	@extend %svg-common;
	background-position: 25% 97.34513274336283%;
}

.svg-general--arrow-right-slider-dims {
	width: 12px;
	height: 12px;
}

.svg-general--arrow-simple {
	@extend %svg-common;
	background-position: 12.865497076023392% 98.21428571428571%;
}

.svg-general--arrow-simple-dims {
	width: 24px;
	height: 24px;
}

.svg-general--carret {
	@extend %svg-common;
	background-position: 14.619883040935672% 98.21428571428571%;
}

.svg-general--carret-dims {
	width: 24px;
	height: 24px;
}

.svg-general--check {
	@extend %svg-common;
	background-position: 16.374269005847953% 98.21428571428571%;
}

.svg-general--check-dims {
	width: 24px;
	height: 24px;
}

.svg-general--close {
	@extend %svg-common;
	background-position: 18.128654970760234% 98.21428571428571%;
}

.svg-general--close-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--facebook {
	@extend %svg-common;
	background-position: 3.5164835164835164% 98.21428571428571%;
}

.svg-social-media--facebook-dims {
	width: 27px;
	height: 24px;
}

.svg-social-media--github {
	@extend %svg-common;
	background-position: 5.490483162518301% 98.21428571428571%;
}

.svg-social-media--github-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--instagram {
	@extend %svg-common;
	background-position: 9.290416971470373% 98.21428571428571%;
}

.svg-social-media--instagram-dims {
	width: 25px;
	height: 24px;
}

.svg-social-media--linkedin {
	@extend %svg-common;
	background-position: 19.883040935672515% 98.21428571428571%;
}

.svg-social-media--linkedin-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media--twitter {
	@extend %svg-common;
	background-position: 7.393850658857979% 98.21428571428571%;
}

.svg-social-media--twitter-dims {
	width: 26px;
	height: 24px;
}

.svg-social-media--youtube {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-social-media--youtube-dims {
	width: 48px;
	height: 48px;
}

.svg-sprite--sprite {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-sprite--sprite-dims {
	width: 1392px;
	height: 1320px;
}

