.quote {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	
	&__text {
		color: $white;
		display: block;
		padding: 32px 32px 64px 32px;
		text-align: center;
		width: 100%;
	
		&::before, 
		&::after {
			color: $blue;
			position: relative;
			white-space: pre;
		}
		
		&::before {content: '« '; }
		&::after { content: ' »'; }
	
	}

	&__author {
		position: absolute;
		right: 0;
		bottom: 0;
		margin-bottom: 0 !important;

		&::before {
			content: '- '
		}
		
	}

}