<div class="project-tile {% if class is defined %} {{ class }} {% endif %}">

	<div class="project-tile__back back">
		<div class="back__inner">
			<img class="back__image" src="{{ image }}" alt="Image">
		</div>
	</div>

	<div class="project-tile__front front front--{{ color }}" style="background-color: {{ color }}">
		<div class="front__inner">
			{% include "atoms/heading" with { class: "front__title", type: "h3", text: heading, color: "white"} %}
			{# {% include "atoms/heading" with { class: "front__title", type: "h3", text: heading, color: "white"} %} #}
			{# {{> @heading class="front__title" type="h3" text=title class="front__title" color="white" }}
			{{> @paragraph class="front__subtitle" type="h5" text=subtitle class="front__subtitle" color="white" }}
			{{> @link class="front__link" text="Mehr erfahren" }} #}
		</div>
	</div>

</div>