<div class="project-switcher">
	<a class="project-switcher__control project-switcher__control--prev control" href="{{ prev }}">
		<i class="control__icon icon-double-arrow icon"></i>
		<p class="control__text">Vorheriges Projekt</p>
	</a>
	<a class="project-switcher__control project-switcher__control--next control" href="{{ next }}">
		<i class="control__icon icon-double-arrow icon"></i>
		<p class="control__text">Nächstes Projekt</p>
	</a>
</div>