<div class="service-tile {% if class is defined %} {{ class }} {% endif %}">
	<img class="service-tile__image" src="{{ image }}" alt="Image">
	<a class="service-tile__label label" href="{{ href }}">
  	{% include "atoms/heading" with { class: "label__title", type: "h4", text: heading, color: "white"} %}
		<i class="label__icon icon-double-arrow icon"></i>
	</a>
</div>