<div class="team-tile {{ class }}">
	<figure class="team-tile__square"></figure>
	<img class="team-tile__image" src="{{ image }}" alt="Image">
	<a class="team-tile__label label" href="#">
    {% include "atoms/heading" with { class: "label__name", type: "h4", text: heading, color: "black"} %}
    {% include "atoms/paragraph" with { class: "label__role", text: role, color: "black"} %}
		{# {{> @heading class="label__name" type="h4" text=name color="white" }}
		{{> @paragraph class="label__role" text=role }} #}
		<i class="label__icon icon-email icon"></i>
	</a>
</div>