<div class='teaser js-teaser'>
	{{ heading}}
	{# {% include "atoms/heading" with { class: "teaser__heading", type: "h2", text: heading } %} #}
	{% include "atoms/line" with { class: "teaser__line", direction: "horizontal" } %}
	{{ subheading }}
	{# {% include "atoms/paragraph" with { class: "teaser__text", text: subheading } %} #}
</div>
