<a class="service-tile {{ class }}" href="#">
	<img class="service-tile__image" src="{{ image }}" alt="Image">
	<div class="service-tile__label label" href="#">
		{{> @heading class="label__title" type="h4" text=title class="front__title" color="white" }}
		<i class="label__icon icon-double-arrow icon"></i>
	</div>
</a>