<div class='teaser'>
  {{> @heading class='teaser__heading' type='h2' text=heading highlight='"Leben"' }}
  {{> @line class='teaser__line' direction='horizontal' }}
  {{> @paragraph class="teaser__text" text=subheading }}
</div>