<div class='teaser'>
	{{> @heading class='teaser__heading' type='h2' text='Erwecke deine Idee zum Leben.' highlight='["Leben"]' }}
	{{> @line class='teaser__line' }}
	{{> @paragraph class="teaser__text" text='Das tun wir den ganzen Tag – und wir lieben es.' }}
</div>