<section class="blog-posts section">
  <div class="blog-posts section__inner">

    {{> @image class="blog-posts__image" src=image }}
    {{> @heading class="blog-posts__heading" type="h2" text=title }}
    {{> @paragraph class="blog-posts__paragraph" text=paragraph}}

  </div>
</section>