.content-container {

	&--dark { h2, h3, h4, li, p { color: $white } }
	&--bright { h2, h3, h4, li, p { color: $black } }

	.quote {
    margin-bottom: 80px;
  }

  p {
    margin-bottom: 32px;
  }

	a {
		color: $blue;
	}

	h2, 
	h2 a {
		font-size: 50px;
		margin-bottom: 16px;
	}
	
	h3, 
	h3 a {
		font-size: 30px;
		font-weight: 800;
		margin-bottom: 16px;
	}

	h4, 
	h4 a {
		font-size: 20px;
		margin-bottom: 0;
		color: $orange;
	}


	ul {
		margin-bottom: 32px;
	}

	li {
		list-style-type: none;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: -16px;
			background-color: $black;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			top: 12px;
		}

	}

	.image {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
		margin-top: 32px;
    margin-bottom: 32px;

    &__wrapper {
      width: 100%;
    }

    &__item {
      height: auto;
      display: block;
			width: 100%;
    }

  }

  .video {
    margin-bottom: 32px;
  }

@media (max-width: 600px) {
	
	h2, 
	h2 a {
		font-size: 40px;
	}

}

@media (max-width: 500px) {

	.video {
		margin-bottom: 24px;
	}

}

@media (max-width: 450px) {
	h1, 
	h1 a {
		font-size: 30px;
	}

	h2, 
	h2 a {
		font-size: 30px;
	}
	
	h3, 
	h3 a {
		font-size: 30px;
	}

	
}

@media (max-width: 350px) {

	h2, 
	h2 a {
		font-size: 25px;
	}

	h3, 
	h3 a {
		font-size: 25px;
	}

	h4, 
	h4 a {
		font-size: 25px;
	}

}



}