<div class="cookie-banner js-cookie-banner">
  <div class="cookie-banner__inner">
    <p class="cookie-banner__text">Wir verwenden Cookies auf unserer Website. Indem du hier bleibst, stimmst du unseren
      <a class="cookie-banner__link" href="#"> Datenschutzbestimmungen</a> zu.</p>
    <button class="cookie-banner__button">Ok</button>
  </div>
</div>