{% extends "layouts/default" %}
{% set title = entry.blogMetaTitle %}
{% set description = entry.blogMetaDescription %}

{% block main %}

	<p>ok we area her
	</p>
	{# {% include "organisms/blog-detail" %} #}
{% endblock %}
