{% extends "layouts/default" %}
{% set theme = 'bright' %}
{% set title = entry.metaTitle %}
{% set description = entry.metaDescription %}
{% set showCloseTriangle = true %}
{% set closeTriangleColor = 'blue' %}
{% set closeTriangleTarget = '/#home' %}

{% block main %}
	<section class="imprint section">
		<div class="imprint section__inner">
			{{ entry.heading }}
			{{ entry.richText }}
		</div>
	</section>
{% endblock %}
