{% extends "layouts/default" %}
{% set theme = 'dark' %}
{% set title = entry.metaTitle %}
{% set description = entry.metaDescription %}
{% set showCloseTriangle = true %}
{% set closeTriangleColor = 'orange' %}
{% set closeTriangleTarget = '/#leistungen' %}

{% block main %}
<div class="service-detail section">
	<div class="service-detail__inner section__inner">
		<span class="service-detail__heading heading--h2">{{ entry.serviceDetailHeading }}</span>
		<img class="service-detail__image" src="{{ entry.serviceDetailImage.one().url() }}" alt="Image">
		<div class="service-detail__quote quote">
			<p class="quote__text">{{ entry.serviceDetailQuote }}</p>
		</div>
		<div class="service-detail__content-container content-container content-container--{{ theme }}">
			{% for block in entry.serviceDetailContent.all() %}
				{% include "blocks/" ~ block.type ignore missing %}
			{% endfor %}
		</div>
	</div>
</div>
{% include "molecules/contact-teaser" %} 


{% endblock %}
