<div class="services__anchor-target anchor-target" id="leistungen"></div>
<section class="services-overview section section--linked">
  <div class="services-overview__inner section__inner">
    {{> @teaser
    heading="Erwecke deine Idee zum Leben."
    subheading="Das tun wir den ganzen Tag – und wir lieben es." }}
    {{> @service-tile-set }}
  </div>
</section>