<section class="services-overview section">
  <div class="project-overview__inner section__inner">
    {{> @teaser
    heading="Erwecke deine Idee zum Leben."
    subheading="Das tun wir den ganzen Tag – und wir lieben es." }}
    {{> @service-tile-set }}
  </div>
</section>