{% extends "layouts/default" %}

{% block main %}
	<section class="page-not-found js-page-not-found section">
		<div class="page-not-found__inner section__inner">
      <h2 class="page-not-found__heading">Oops, hier gehörst du nicht hin.</h1>
      <button class="page-not-found__button button button--orange">Bring mich zurück</button>
      <img class="page-not-found__astronaut" src="/media/graphics/page-not-found/astronaut.png" alt="Astronaut">
		</div>
	</section>
{% endblock %}
