{% extends "layouts/default" %}

{% block main %}
	<section class="page-not-found js-page-not-found section">
		<div class="page-not-found__inner section__inner">
			<h2 class="page-not-found__heading">Oops, hier gehörst du nicht hin.</h1>
			<a class="page-not-found__button button button--orange" href="/">Bring mich zurück</a>
			<img class="page-not-found__astronaut" src="/media/graphics/page-not-found/astronaut.png" alt="Astronaut">
		</div>
	</section>
{% endblock %}
