.blog-overview {

  &__title,
  h1 {
    color: $black;
    margin-bottom: 32px;
    padding-top: 80px;
  }

  &__item,
  .item {
    margin-bottom: 120px;

    &__image {
      margin-bottom: 24px;
      display: block;
      width: 100%;
    }

    &__category {
      color: $blue;
      margin-bottom: 8px;
    }

    &__title,
    h2 {
      margin-bottom: 24px;
      color: $black;
    }

    &__description {
      color: $black;
    }

  }

}