.project-detail {
  padding-top: 150px;

  &__intro {

    h1 {
      margin-bottom: 32px;
    }

    p {
      margin-bottom: 32px;
    }

  }

  h1,
  h2,
  h3,
  h4,
  h5 {

    margin-bottom: 32px;

    strong {
      color: $blue;
    }

  }

  &__infobox {
    margin-bottom: 64px;
  }

  &__content {

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-bottom: 16px;

      strong {
        color: $blue;
      }

    }

    &__video,
    .video {
      margin-bottom: 32px;
    }

    p {
      margin-bottom: 32px;
    }

  }

  &__image,
  .image {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    margin-bottom: 32px;

    div {
      width: 100%;
    }

    &__item {
      height: auto;
      display: block;

      &:first-child {
        width: 100%;
      }

    }

  }

  &__quote {
    margin-bottom: 64px;
  }

  &__content {
    margin-bottom: 128px;
  }






}