<div class="project-detail section">
  <div class="project-detail__inner section__inner">

    <div class="project-detail__intro intro">
      {{> @heading type="h1" text="Sporty in Bewegung." }}
      {{> @paragraph class="intro__text" text="Sportcard hat uns kontaktiert um ihr herziges Maskottchen Sporty
      f체r ihren Chat in Bewegung zu bringen. Dank der tollen Zusammenarbeit mit Sportcard begr체sst dich Sporty nun
      zwinkernd, l채chelnd, winkend oder an deinen Bildschirm klopfend im Sporcard Chat. Einfach ein sehr freundlicher
      und
      zuvorkommender B채r."}}
    </div>

    <div class="project-detail__infobox infobox">
      <img class="infobox__logo" src="/media/graphics/logos/sportcard.svg" alt="Logo">
      {{> @line class="infobox__line infobox__line--vertical" direction="vertical" }}
      {{> @line class="infobox__line infobox__line--horizontal" direction="horizontal" }}
      <span>
        <p class="infobox__title">Sporty in Bewegung</p>
        <p class="infobox__subtitle">Illustration, Animation, Sound Design</p>
      </span>
    </div>

    <div class="project-detail__content">

      {{> @video src="https://player.vimeo.com/video/546612359"}}

      <div class="project-detail__image">
        <div class="image__wrapper">
          <img class="image__item" src="/media/images/project-tiles/itpoint-imagefilm.png" alt="" />
        </div>
        <div class="image__wrapper">
          <img class="image__item" src="/media/images/project-tiles/itpoint-imagefilm.png" alt="" />
        </div>
        <div class="image__wrapper">
          <img class="image__item" src="/media/images/project-tiles/itpoint-imagefilm.png" alt="" />
        </div>
        <div class="image__wrapper">
          <img class="image__item" src="/media/images/project-tiles/itpoint-imagefilm.png" alt="" />
        </div>
      </div>

			{{> @project-switcher }}

    </div>
  </div>
</div>