.project-detail {
  padding-top: 150px;

  &__intro {

    h1 {
      margin-bottom: 32px;
    }

    p {
      margin-bottom: 32px;
    }

  }

  &__infobox {
    margin-bottom: 64px;
  }

  &__quote {
    margin-bottom: 64px;
  }

  &__content {
    margin-bottom: 128px;
  }

}