<section class="blog-detail section">
  <div class="blog-detail section__inner">

    {{> @image class="blog-detail__image" src=image }}
    {{> @heading class="blog-detail__heading" type="h2" text=title }}
    {{> @paragraph class="blog-detail__paragraph" text=paragraph}}

  </div>
</section>