<!DOCTYPE html>
<html lang="de">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="/css/main.min.css">
		<link rel="icon" href="/media/favicons/favicon.ico">
		<title>
			{{ title is defined ? title : 'Motion Design & Werbefilm Agentur aus Luzern' }}
			| reiheacht
		</title>
		<meta name="description" content="{{ description is defined ? description : 'Wir sind reiheacht. Wir erwecken deine Botschaft mit kreativen Motion Design- und Filmlösungen zum Leben.' }}">
	</head>
	<body class="body {% if theme is defined %} body--{{theme}} {% endif %} ">

		{% include "organisms/navigation-desktop" %}
		{% include "organisms/navigation-mobile" %}

		{% block main %}{% endblock %}

		{% include "organisms/footer" %}

		<script src="/js/main.build.js"></script>
	</body>
</html></head></html></head></html>
