<div class="navigation-desktop section">
	<div class="navigation-desktop__inner section__inner">
		{{#each items}}
			<a class="navigation-desktop__link" href="{{ href }}" data-section="{{ section }}">{{ label }}</a>
		{{/each}}
		<a href="#" class="navigation-desktop__logo"></a>
	</div>
</div>