<div class="navigation-desktop section">
  <div class="navigation-desktop__inner section__inner">
    {{#each links}}
    <a class="navigation-desktop__link" href="./#home" data-section="{{ section }}">{{ label }}</a>
    {{/each}}
    <a href="/#home" class="navigation-desktop__logo"></a>
  </div>
</div>
<div class="navigation-desktop__placeholder"></div>