.hero {
  position: relative;
 
	&__blocker {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $black;
		pointer-events: none;
		z-index: 2;
		opacity: 1;
		z-index: 5;
	}

  &__inner {
    opacity: 0;
    padding-top: 100px;
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

  &__heading,
  h1 {
    margin-bottom: 24px;

    strong {
      color: $blue;
      font-weight: inherit;
    }

  }

  &__line {
    margin-bottom: 24px;
    border-radius: 2px; 
    background-color: $orange;
    width: 80px;	
    height: 4px;
  }

  &__teaser {
    margin-bottom: 24px;
  }

  &__slogan {
    margin-bottom: 80px;
  }

  &__button-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
  }

  &__button:not(:last-child) {
    margin-right: 32px;
  }

  &__scroller {
    margin-top: auto;
    justify-self: flex-end;
    margin-bottom: 24px;
  }

  &__showreel,
  .showreel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;

    &--active {
      display: block;
    }

    &__inner {
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: relative;
      width: 1440px;
      max-width: min(calc(100% - 80px), 100vh);
      margin-top: 32px;
    }


    &__video {
      overflow: unset;
      margin: 0 auto;
    }

    &__icon {
      color: $white;
      width: 32px;
      height: 32px;
      font-size: 32px;
      position: absolute;
      top: -32px;
      right: 0;
      cursor: pointer;
    }

  }

  @media (orientation: landscape) {

    .showreel__icon {
      width: 40px;
      height: 40px;
      top: 16px;
      left: 16px;
      padding: 4px;
      border-radius: 4px;
      background-color: #1e1e1ee6;
    }

  }

  @media (max-width: 900px) {

    &__inner {
      padding-top: 50px;
      min-height: calc(100vh - 50px);
    }

  }

  @media (max-width: 750px) {

    &__button-wrapper {
      flex-direction: column;
      gap: 16px;
    }

    &__button:not(:last-child) {
      margin-right: 0;
    }

  }

}