<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="/css/main.min.css">
		<link rel="icon" href="/media/favicons/favicon.ico">
		<title>Motion Design & Werbefilm Agentur aus Luzern </title>
	</head>
	<body>

		{% set projects = craft.entries.section('projects').level(3).all() %}

		<div class="project-tile-set">
			{% for item in projects %}
				{% include "molecules/project-tile" with { class: "project-tile-set__item", heading: item.projectTileHeading, subheading: item.projectTileSubheading, href: item.uri, color: item.projectTileColor, image: item.projectTileImage.one().url() } %}	
			{% endfor %}
		</div>

	<script src="/js/main.build.js"></script>
	</body>
</html>
