.project-switcher {
	padding: 40px 0 120px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 64px;

	&__control, .control {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 120px;

		&__icon {
			font-size: 24px;
			margin-bottom: 16px;
		}

		&__text {
			text-align: center;
		}

		&--prev {
			.control__icon { transform: rotate(90deg);	}
		}

		&--next {
			.control__icon { transform: rotate(270deg);	}
		}

	}

	@media (max-width: 650px) {
		gap: 40px;
	}

}